.skip-to-content {
  background: var(--bg);
  color: var(--base);
  opacity: 0;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  position: absolute;
  z-index: 10;
  &:focus {
    opacity: 1;
    pointer-events: auto;
  }
}
