---
layout: layouts/base.njk
templateClass: content-grid
---
<article class="flow prose">
  <h1>{{ title }}</h1>

  <p class="meta">
    {% if edited %}
    Uploaded: {% endif %}
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    {% if edited %}
    &bull; <time datetime="{{ edited | htmlDateString }}">Edited: {{ edited | readableDate }}</time>
    {% endif %} &bull; {{ content | readingTime }} read
  </p>

  {% include "partials/_taglist.njk" %}

  {{ content | safe }}
</article>

<aside class="btn-group-wrapper">
  <div class="btn-group">
    <a href="/words" class="ldt-btn">
      <span>Back to Words</span></a>
    <a href="/til" class="ldt-btn">
      <span>Back to TIL</span></a>
  </div>
</aside>
