---
layout: layouts/contact.njk
permalink: /contact-success/
---

<article class="flow contact prose">
  <h1>Contact</h1>
  <h2>Thanks for reaching out</h2>
  <p class="prose">I'll try to get back to you as soon as possible. In the mean time, here's my favorite <a href="https://www.youtube.com/watch?v=APQ09eK99GA">14 second youtube video</a>. Enjoy.</p>

  <a href="/contact" class="ldt-btn">
    <span>Say More</span>
  </a>
</article>
